
.heading{
  margin-top: -30px;
  margin-left: 30px;
  font-size: 19px;
  color:#33331a;
}
.btnHover:hover{
  background-color: #007bff;
}

.text1 input {
  text-align:left;
  font-size: 18px;
}
.bcolor{
  background-color: #f8f9fa;
  margin-top: -10px;
  padding: 1px;
}

h1{
border-radius: 4px;
margin-top: 10px;
margin-left: 78%;
color: aliceblue;
font-size: 31px;
font-style:bold;
height: 45px;
background-color:#dc3545;
text-align: center;
padding-top: 10px;
}
.bc{
  background-color: rgb(243, 242, 242);
}
.text1{
    margin-top: -90px;
    margin-left: 230px;
    border-radius: 30px;
     }
  .texts2{
    margin-top: -42px;
    margin-left: 490px;
}
.btnHover{
  background-color: #007bff;
}
.btnHover:hover{
background-color: #1760ae;
cursor: pointer;
}
  .texte3{
    margin-left: 700px;
    margin-top: -30px;
    border-radius: 20px;
  }
   .task-box1{
    background-color: #a30e1d;
    margin-top: 20px;
 } 
  .btnSE{
    color: aliceblue;
    background-color:#17a2b8;
    width: 50px;
    height: 38px;
    margin-left: 10px;
    border-radius: 5px;
    
  }
  .btnSE:hover {
    background-color:#16515b;
  }  

.btnd{
 background-color: #dc3545;
 border-radius: 5px;
 margin-left: 5px;
 
}
.btnd:hover{
  background-color:  #a30e1d;
}









 
